{{ "filter-facets.js" | asset_url | script_tag }}

<div class="collection-accrodian">
  <form id="facetFilter">
  {% for filter in collection.filters %}
    {% case filter.type %} 
      {% when "price_range" %}      
        <div class="set">
          <a href="javascript:;" class="active">
            <span>{{ filter.label }}</span>
          </a>
          <div class="content active">
            <div class="range-select-row flex align-center justify-between">
              <input type="number" maxlength="4" value="{{ filter.min_value.value | money_without_currency }}$" class="from"/>
              <input type="number" maxlength="4" value="{{ filter.max_value.value | money_without_currency }}$" class="to"/>
              
              <input type="hidden" name="filter.v.price.gte" value="" id="min_value">
              <input type="hidden" name="filter.v.price.lte" value="" id="max_value">
            </div>
    
            <div class="price-range-slider"> 
                <input type="text" class="js-range-slider" name="{{ filter.param_name }}" value=""
                  data-skin="round"
                  data-type="double"
                  data-min="0"
                  data-max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                  data-grid="false"                  
              />
            </div>
          </div>
        </div>
      {% when "list" %}      
        <div class="set">
          <a href="javascript:;" class="{% if value.active %}active {% endif %}">
            <span>{{ filter.label }}</span>
          </a>
          
          <div class="content {% if value.active %}active {% endif %}" data-filter-box>            
            {% for value in filter.values %}
              <div class="filter_checkbox">
                <input
                    type="checkbox"
                    name="{{ value.param_name }}"
                    value="{{ value.value }}"
                    id="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}-no-js"
                    data-value="{{ value.value }}"
                    data-name="{{ value.param_name }}"
                    {% if value.active %}
                      checked
                    {% endif %}
                    {% if value.count == 0 and value.active == false %}
                      disabled
                    {% endif %}
                  >                
                <label for="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}-no-js" class="swatch-label">{{- value.label | escape }}</label>
              </div>
            {% endfor %}  
          </div>
        </div>  
      {% else %}
    {% endcase %}  
  {% endfor %}
  </form>
</div>
<div class="collection-widget price-filter-widget"></div>